/*!
Theme Name: ACG Engineering
Theme URI: http://underscores.me/
Author: TouchFoundry
Author URI: http://Touchfoundry
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: acg
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

ACG is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
    display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;

    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {

}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
    background: #fff;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 1em 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/* Links
--------------------------------------------- */
a {
    color: #4169e1;
}

a:visited {
    color: #800080;
}

a:hover,
a:focus,
a:active {
    color: #191970;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #CBCBCB;
    border-radius: 0;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
    display: block;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    display: block;
    left: auto;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {

    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: flex;
    }
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
    margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
    display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    text-align: end;
    flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
    margin: 0 0 1.5em;
}

.widget select {
    max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
    margin-bottom: 1.5em;
    display: grid;
    grid-gap: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.gallery-columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
    grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
    grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
    grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
    grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
    outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

    /*rtl:ignore*/
    float: left;

    /*rtl:ignore*/
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.alignright {

    /*rtl:ignore*/
    float: right;

    /*rtl:ignore*/
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}


/* Bootstrap */
.mt-6, .my-6 {
    margin-top: 5rem !important;
}

.pb-6-5, .py-6 {
    padding-bottom: 5rem !important;
}

.pt-6-5, .py-6 {
    padding-top: 5rem !important;
}

.pb-6, .py-6 {
    padding-bottom: 6rem !important;
}

.pt-6, .py-6 {
    padding-top: 6rem !important;
}

.pb-8, .py-8 {
    padding-bottom: 9rem !important;
}

.pt-8, .py-8 {
    padding-top: 9rem !important;
}

.navbar-dark .navbar-toggler {
    margin-right: 20px !important;
}

.height-85vh {
    height: 103vh;
}

.pb-12, .py-12 {
    padding-bottom: 24rem !important;
}

.pt-12, .py-12 {
    padding-top: 24rem !important;
}

.pb-13, .py-13 {
    padding-bottom: 15rem !important;
}

.pt-13, .py-13 {
    padding-top: 15rem !important;
}

.pb-11, .py-11 {
    padding-bottom: 11rem !important;
}

.pt-11, .py-11 {
    padding-top: 11rem !important;
}

@media (min-width: 768px) {
    .pt-md-12, .py-md-12 {
        padding-top: 25rem !important;
    }

    .pb-md-12, .py-md-12 {
        padding-bottom: 25rem !important;
    }
}

/* Site Styling */
/* Nav Styling  */

nav#nav .left-text.mr-auto {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
nav#nav button.navbar-toggler.register {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}
nav#nav .right-menu {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin-left: auto;
}

nav.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: transform 0.4s;
}

div#page nav.navbar {
    background: #111111;
    z-index: 2;
}

nav.navbar {
    padding: 0;
    margin: 0;
}

div#page a.navbar-brand {
    height: 55px;
    display: flex;
    align-items: center;
    margin-left: -20px;
    padding-left: 80px;
    margin-right: 89px;
    padding-right: 28px;
    background: #D71635;
    backdrop-filter: blur(6px);
}

ul#menu-main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul#menu-main-menu li.menu-item a {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 26px;
}

li.current-menu-item a {
    border-bottom: solid #fff 3px;
}

.right-menu {
    margin-right: 60px;
}

.right-menu ul {
    list-style: none;
    margin: 0;
}

.right-menu li.menu-item a {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

/* GTX-One */
section.GTX-One .links {
    padding-top: 20px;
}

section.GTX-One .links .link {
    padding-bottom: 17px
}

section.GTX-One .links .link span.icon {
    position: absolute;
    margin-left: 10px;
}

section.GTX-One h1 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: #111111;
    margin-bottom: 0;
    margin-top: 0;
}

section.GTX-One h4 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 115%;
    color: #CBCBCB;
}

section.GTX-One h4 span.grey {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 115%;
    color: #6D6D6D;
}

section.GTX-One .links a {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #D71635 !important;
    border-bottom: 3px solid #d71935;
}

section.GTX-One .badge img {
    height: 94px !important;
    max-width: 94px !important;
}

section.GTX-One .d-flex h6.feature-header {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: 0.005em;
    color: #111111;
}

section.GTX-One .features .d-flex p {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #111111;
}

/* Footer */
footer {
    background: #D71635;
}

footer .illustration {
    position: relative;
    top: -48px;
    margin-left: 16px;
}

footer .illustration-right {
    position: absolute;
    margin-top: -119px;
    right: 58px;
}

footer .illustration-right.capsule {
    position: absolute;
    margin-top: -98px;
    right: 58px;
}

footer ul.list-unstyled {
    margin: 40px 0 0 0;
}

ul#menu-bottom-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#menu-bottom-menu li.menu-item a {
    font-family: Ubuntu, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF;
}

footer .container-fluid .row p.copy-text {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 55px;
}

.d-flex .logo-1 {
    margin-right: 55px;
}

section.xxx-contries .badge img {
    height: 94px !important;
    max-width: 94px !important;
}

section.xxx-contries h6.feature-header {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

section.xxx-contries p {
    font-family: Lora;
    font-style: 100;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF !important;
}

section.xxx-contries h1 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    line-height: 1;
    font-weight: bold;
    font-size: 96px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

section.integrated-design span.heading-gray {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 115%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #6D6D6D;
}

section.integrated-design h1 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 115%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #CBCBCB;
}

/* Slider */

section.slider div#back-slid.disable {
    color: #C4C4C4;
    pointer-events: none;
}

section.slider div#forward-slid.disable {
    color: #C4C4C4;
    pointer-events: none;
}

section.slider {
    border: 1px solid #d6d6d6;
}

section.slider .row.align-items-center {
    background: #F9F9F9;
}

section.slider .detail-div {
    padding-right: 26%;
}

section.slider .detail-div h5 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
    color: #111111;
    min-height: 80px;
}


section.slider .d-flex > div:hover {
    cursor: pointer;
}

section.slider .row .col-12.col-md-3.order-md-2.detail {
    background: #F9F9F9;
    height: auto;
}

section.slider .nav-arrow .d-flex {
    position: absolute;
    bottom: 15px;
}

section.slider .detail-div ul li {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #111111;
}

/* Mixer Sectino */
section.mixer-one h4 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #111111;
}

section.mixer-one .entry {
    margin-bottom: 16%;
}

section.mixer-one .entry p {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #111111 !important;
}

section.mixer-one .entry p {
    font-family: Lora;
    color: #717171;
}

section.mixer-one .entry h3 {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 24px;
}



/* Stats Section */
section.stats h1 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: #6D6D6D;
}

section.stats p {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #6D6D6D;
}

/* Testimonial */
section.testimonials .testimonial {
    background: #fff;
}

section.testimonials .testimonial .comment {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.005em;
    color: #111111;
}

section.testimonials .testimonial .author {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #111111;
}

section.testimonials .testimonial .icon {
    position: relative;
    top: -12px;
    left: -33px;
}

section.contact p.bold-text {
    font-family: Lora, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.005em;
    color: #111111;
    margin-bottom: 0;
}

section.contact p {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #111111;
}

section.contact .form-container p {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #111111;
    margin-bottom: 12px;
}

section.testimonials .text {
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}


/* Contact Section */
section.contact h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 115%;
    color: #111111;
    margin-bottom: 32px;
}


section.contact p.bold-text {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.005em;
    color: #111111;
}

section.contact form.wpcf7-form.init h6 {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: 0.005em;
    color: #111111;
    padding-bottom: 20px;
}

section.contact form.wpcf7-form.init input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    max-width: 268px;
    height: 40px;
}

section.contact div#wpcf7-f65-o1 input.wpcf7-form-control.wpcf7-submit {
    background: #D71635;
    border-radius: 4px;
    color: #fff;
    width: 162.75px;
    height: 48px;
    margin-left: -16px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

section.contact form.wpcf7-form.init label {
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 6px;
    color: #6D6D6D;
}

section.contact .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #ffb900;
    border: none;
    margin: -4px 0 0 0;
    margin-top: -4px;
}

section.contact .form-container {
    padding: 40px 25px 30px 25px;
    background: #F9F9F9;
    max-width: 524px;
    margin-right: 0;
    margin-left: auto;
}

section.contact .form-container .row.p-0.m-0.submit {
    padding-top: 10px !important;
}

.form-container form.wpcf7-form.init p:nth-last-child(3) {
    margin-bottom: -20px !important;
}

.form-container div#wpcf7-f65-o1 .wpcf7-response-output {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #111111;
}



@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1287px !important;
    }
}

/* Checkboxes */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + span.wpcf7-list-item-label:before,
[type="checkbox"]:checked + span.wpcf7-list-item-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 24.72px;
    height: 22.96px;
    border: 2px solid #ccc;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 0;
    border: 1px solid #111111;
}

[type="checkbox"]:not(:checked) + span.wpcf7-list-item-label:after,
[type="checkbox"]:checked + span.wpcf7-list-item-label:after {
    content: '\2713\0020';
    position: absolute;
    top: 0.28em;
    left: .45em;
    background: url(/wp-content/uploads/2020/11/check.svg);
    background-repeat: no-repeat;
    \: 1.3em;
    /* font-weight: 600; */
    line-height: 0.8;
    color: #11111100;
    transition: all .2s;
    font-family: BlinkMacSystemFont
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + span.wpcf7-list-item-label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + span.wpcf7-list-item-label:after {
    opacity: 1;
    transform: scale(1);
}

section.contact .form-container span.wpcf7-list-item-label {
    margin-left: 23px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #111111;
}

section.contact .form-container p label {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6D6D6D;
}


/* Global */
hr {
    background-color: #CBCBCB;
    margin-top: 8px;
    margin-bottom: 8px;
}


/* Slider Dots Styling */
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #111111;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #111111;
}


/* Animations */

.fade-in-left {
    -webkit-animation: fade-in-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-right {
    -webkit-animation: fade-in-right 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-right 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-right {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section.xxx-contries {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 16px;
}

img.img-parallax {
    width: 100vmax;
    min-height: 700px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none
}


section.banner .height-85vh.image-container {
    background-image: url(/wp-content/uploads/2020/10/banner.png);
}

/* Animations */
.fade-in {
    -webkit-animation: fade-in 0.10s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 0.10s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


section.error-404.not-found a.btn.btn-primary {
    background: #d71935;
    outline: none !important;
    border: none;
    color: #fff;
    box-shadow: none;
}

.page-content, .entry-content, .entry-summary {
    margin: 0;
}

section.stats .col-8.second h1 {
    font-size: 72px !IMPORTANT;
    margin-top: 25px;
    margin-bottom: 25px;
}

section.stats .col-8.third h1 {
    font-size: 72px !IMPORTANT;
    margin-top: 25px;
    margin-bottom: 25px;
}

section.stats .col-8.first.col-md-3.text-left.mx-4 h1 {
    margin-top: 0;
    margin-bottom: 24px;
}

.height-85vh.image-container.fade-in.intro {
    position: fixed;
    top: 55px;
    z-index: 9;
    width: 100%;
}

/*.second-fixed {*/
/*    position: fixed;*/
/*    top: 695px;*/
/*    width: 100%;*/
/*    left: 147px;*/
/*    z-index: 9;*/
/*}*/

section.GTX-One.py-6.second-fixed .container {
    position: fixed;
    padding-top: 6rem !important;
    top: 695px;
    max-width: 1440px !important;
    z-index: 9;
    background: #fff !Important;
}

section.GTX-One.py-6.second-fixed .container .row {
    max-width: 1287px;
    margin-right: auto;
    margin-left: auto;
}
section.GTX-One.py-6 .links button.btn.btn-primary.gtx-button {
    background: transparent;
    border: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #D71635 !important;
    border-bottom: 3px solid #d71935;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    outline: none !important;
    margin-bottom: 20px;
    box-shadow: none !important;
}

section.GTX-One.py-6 .links button.btn.btn-primary.gtx-button span.icon {
    margin-left: 10px;
}

.links button.btn.btn-primary.gtx-button span.icon {
    position: absolute;
    margin-top: -1px;
    left: 148px;
}

section.GTX-One div#exampleModal .modal-dialog .modal-content {
    background-color: #f9f9f9;
    height: 100vh;
}

section.GTX-One .links .modal-dialog {
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100vw !important;
    background: #f9f9f9 !important;
}

section.GTX-One .modal-body.video-player {
    max-width: 1280px;
    max-height: 720px;
    width: 80vw !important;
    height: 80vh !important;
    margin: auto !important;
}

section.GTX-One .modal-content .modal-body.video-player a {
    border-bottom: 0 !important;
}


body.page-template-default .webinar-container {
    display: none;
}
body.page-template-default.show-webinar .webinar-container {
    display: block;
}

body.page-template-default.show-webinar .coming-soon-container {
    display: none;
}
body.page-template-default .coming-soon-container {
    display: block;
}


section.testimonials.second .testimonial {
    background: #000000 !important;
}

section.testimonials.second .testimonial .comment {
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.005em;
    color: #ffffff;
}

section.testimonials.second .testimonial .author {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #ffffff;
}

section.testimonials.second .text {
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    color:#fff
}

@-moz-document url-prefix() {
    .links button.btn.btn-primary.gtx-button span.icon {
        margin-top: 0;
    }
}

/*Register Form*/
label input.wpcf7-form-control.wpcf7-text {
    max-width: 268px;
    background: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    box-sizing: border-box !important;
    font-family: Ubuntu !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    border-radius: 0px !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-top: .5rem;
}

 span.wpcf7-form-control.wpcf7-checkbox span.wpcf7-list-item-label {
    margin-left: 25px;
}

 p input.wpcf7-form-control.wpcf7-submit {
    color: #ffffff;
    background: #d71635;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-radius: 5px;
    width: 162.75px;
    float: right;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: 2px solid #d71635;
    margin-top: 3vw;
}
p input.wpcf7-form-control.wpcf7-submit.russianSubmit {
    width: 201px;
}
 p input.wpcf7-form-control.wpcf7-submit:hover {
    border: 2px solid #d71635;
    color: #d71635;
    background: #ffffff;
}
 .contact-header {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
}

 label {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
}

 select {
    background: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    box-sizing: border-box !important;
    font-family: Ubuntu !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    border-radius: 0px !important;
    width: 268px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
}

 select.wpcf7-form-control.wpcf7-select {
    background: #FFFFFF !important;
    border: none !important;
    box-sizing: border-box !important;
    font-family: Ubuntu !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    border-radius: 0px !important;
    max-width: 246px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
}
 select.wpcf7-form-control.wpcf7-select:focus {
    outline: none;
}

 label.right-label {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
     padding: 1rem 0 0;
     margin-bottom: 0;
}

 label.right-label.bottom {
    padding-top: 0;
	padding-bottom: 20px;
}
label.right-label.first-label {
    padding-bottom: 40px !important;
}

 .contact-header.left {
    margin-bottom: 17px;
}

 .col:first-of-type {
    border-right: 1px solid #E1E1E1;
}

 input[type=checkbox], input[type=radio] {
    width: 24px;
    height: 24px;
}

 .radio label {
    display: flex;
    align-items: center;
}

 .radio span.wpcf7-list-item-label {
    margin-left: 10px;
    color: #111;
}

 .radio span.wpcf7-list-item {
    display: block;
    margin: 0 0 0 0;
}

 input[type='radio'] {
    -webkit-appearance:none;
    width:24px;
    height:24px;
    border:1px solid #111;
    border-radius:50%;
    outline:none;
}

 input[type='radio']:before {
    content:'';
    display:block;
    width:14px;
    position: relative;
    top:4px;
    left: 4px;
    height:14px;
    border-radius:50%;
}

 input[type='radio']:checked:before {
    background:#111;
}

 .col-12 span.wpcf7-list-item.first.last span.wpcf7-list-item-label {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #111111;
}

 p.about-text a {
    color: #d71935 !important;
}

 .col-12 h4 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

 .col-12 p.about-text {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

 .col p {
    margin: 0;
}

 textarea.wpcf7-form-control.wpcf7-textarea {
    margin-top: 8px;
}

 .col.first label {
    margin-bottom: 20px;
}

 .wpcf7-response-output {
    border: none !important;
}
 textarea.wpcf7-form-control.wpcf7-textarea {
    max-width: 268px;
}

 span.wpcf7-form-control-wrap.Country {
    display: grid;
    grid-template-areas: "select";
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border: 1px solid #DDD;
    padding-right: 18px;
    font-size: 1.25rem;
    cursor: pointer;
    background: #fff;
    margin-top: .5rem;
}

 span.wpcf7-form-control-wrap.purchase {
    display: grid;
    grid-template-areas: "select";
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border: 1px solid #DDD;
    padding-right: 18px;
    font-size: 1.25rem;
    cursor: pointer;
    background: #fff;
    margin-top: .5rem;
    max-width: 268px;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.illustration-right.engineering {
    position: absolute;
    margin-top: -89px !important;
    right: 58px;
}

/* Media Queries */
@media screen and (max-width: 1289px) {
    section.slider .row .col-12.col-md-3.order-md-2.detail {
        padding-bottom: 8%;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    .registration-page .elementor-text-editor.elementor-clearfix {
        padding-right: 20px;
    }
}

@media screen and (max-width: 992px) {
    ul#menu-main-menu {
        display: inline !important;
    }

    ul#menu-main-menu li.menu-item {
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .right-menu ul {
        list-style: none;
        margin: 0;
        padding-left: 20px !important;
        padding-bottom: 30px !important;
    }
}

@media screen and (max-width: 500px) {
    /*img.img-parallax {*/
    /*    flex-shrink: 0;*/
    /*    min-width: 100%;*/
    /*    min-height: 100%;*/
    /*}*/
    section.slider .row .col-12.col-md-3.order-md-2.detail {
        padding-bottom: 18%;
    }
}
@media screen and (max-width: 432px) {
    .illustration-right.engineering {
        position: absolute;
        margin-top: -83px !important;
        right: 11px !important;
    }
    .illustration-right.engineering svg {
        width: 150px;

    }
    footer .illustration {
        top: -48px !important;
    }
    div#page a.navbar-brand {
        margin-right: 16px;
    }
    span.wpcf7-form-control-wrap.Country {
        padding-right: 0;
    }
    span.wpcf7-form-control-wrap.purchase {
        padding-right: 0;
        max-width: 245px !important
    }
    .navbar-dark .navbar-toggler {
        margin-right: 20px !important;
        border: none;
    }
    .logo-1 {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 380px) {
    footer .container-fluid p svg {
        width: 212px !important;
    }
    footer .logo-1 svg {
        width: 100px !important;
    }
    footer .container-fluid .d-flex.justify-content-md-end {
        display: block !important;
    }
    section.integrated-design h1 {
        font-size: 47px;
    }
    section.integrated-design span.heading-gray {
        font-size: 47px;
    }
    section.xxx-contries h1 {
        font-size: 64px;
    }
    section.contact form.wpcf7-form.init input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
        max-width: 237px;
    }
    section.contact .form-container span.wpcf7-list-item-label {
        font-size: 13px;
    }
    footer .illustration-right.capsule {
        position: absolute;
        margin-top: -98px;
        right: 30px;
    }
    footer .logo-2 {
        margin-top: 6px;
    }
}